# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.coverage

# Mac OS files
.DS_Store

# VirtualEnvironment
venv

# PyCharm files
.idea

# Distribution files
config.py
alembic.ini
app.db
test.db
