{% extends 'base.html' %}

{% block kindred_active %}active{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src={{ url_for('static', filename='vendor/datatables/media/js/jquery.dataTables.min.js') }}></script>
  <script src={{ url_for('static', filename='vendor/datatables-bootstrap3-plugin/media/js/datatables-bootstrap3.min.js') }}></script>
  <script src={{ url_for('static', filename='js/kindred.js') }}></script>
{% endblock %}

{% block css %}
  {{ super() }}
  <link href={{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }} rel="stylesheet">
  <link href={{ url_for('static', filename='vendor/datatables-bootstrap3-plugin/media/css/datatables-bootstrap3.min.css') }} rel="stylesheet">
{% endblock %}

{% block content %}

    <table width="100%" id="kindred-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
          {% for character in characters %}
            <tr class="kindred-row" data-kindred-id="{{ character.id }}">
              <td>{{ character.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  <a href="/kindred/add" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Kindred
  </a>
{% endblock %}