{% extends 'base.html' %}

{% block scripts %}
  {{ super() }}
  <script src={{ url_for('static', filename='vendor/select2/dist/js/select2.full.min.js') }}></script>
  <script src={{ url_for('static', filename='js/merge-kindred.js') }}></script>
{% endblock %}

{% block css %}
  {{ super() }}
  <link href={{ url_for('static', filename='vendor/select2/dist/css/select2.min.css') }} rel="stylesheet">
  <link href={{ url_for('static', filename='vendor/select2-bootstrap-theme/dist/select2-bootstrap.min.css') }} rel="stylesheet">
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    Merging a Kindred will move all Prestation from the selected kindred to {{ character.name }}. <b>This action cannot be undone.</b>
  </div>
</div>
<div>
    <form method="POST" action="/kindred/{{ character.id }}/merge" role="form">
    {{ form.csrf_token }}
    <div class="form-group">
        <label for="debtor-id">Select Kindred to Merge with {{ character.name }}:</label>
        <select class="form-control select2" style="width: 100%" name="merging_kindred" id="merging-kindred-id">
        <option></option>
        {% for merging_character in characters %}
          <option value="{{ merging_character.id }}">{{ merging_character.name }}</option>
        {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-default">Merge Kindred </button>
    </form>
</div>

{%  endblock %}